# Node
node_modules/
dist/
build/
.env
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Project Specific
data/
db/postgres_data/
services/*/app/common/

# OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local Security
cert.pem
key.pem
frontend/.env
